<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE log4j:configuration SYSTEM "log4j.dtd">

<log4j:configuration xmlns:log4j="http://jakarta.apache.org/log4j/">

    <appender name="CONSOLE" class="org.apache.log4j.ConsoleAppender">
        <layout class="org.apache.log4j.PatternLayout">
            <param name="ConversionPattern"
                value="[boapweb] [kaihu,crm] [%p] %d{yyyy-MM-dd HH:mm:ss.SSS} %c{1}.%M | %m%n"/>
        </layout>
    </appender>

    <appender name="R" class="org.apache.log4j.RollingFileAppender">
        <param name="File" value="D:/bomcweb.log"/>
        <param name="Threshold" value="INFO"/>
        <param name="MaxFileSize" value="10MB"/>
        <param name="MaxBackupIndex" value="10"/>
        <param name="Threshold" value="DEBUG"/>
        <layout class="org.apache.log4j.PatternLayout">
            <param name="ConversionPattern"
                   value="[boapweb] [kaihu,crm] [%p] %d{yyyy-MM-dd HH:mm:ss.SSS} %c{1}.%M | %m%n"/>
        </layout>
    </appender>

    <logger name="net.sf.ehcache">
        <level value="ERROR"/>
    </logger>

    <!-- Suppress success logging from InteractiveAuthenticationSuccessEvent -->
    <logger name="org.springframework.security">
        <level value="ERROR"/>
    </logger>

    <logger name="org.apache.struts2">
        <level value="ERROR"/>
    </logger>

    <logger name="org.apache.velocity">
        <level value="FATAL"/>
    </logger>

    <!-- Suppress invalid warning messages from JSF -->
    <logger name="org.apache.myfaces.shared_impl.renderkit.html">
        <level value="ERROR"/>
    </logger>

    <logger name="org.springframework">
        <level value="ERROR"/>
    </logger>
   
    <logger name="com.sitech.webapp">
        <level value="ERROR"/>
    </logger>
    
    <logger name="com.opensymphony.xwork2">
        <level value="ERROR"/>
    </logger>

    <logger name="com.sitech.webapp.filter.StaticFilter">
        <level value="ERROR"/>
    </logger>
    
    <logger name="java.sql">
        <level value="DEBUG"/>
    </logger>

    <logger name="java.sql.ResultSet">
        <level value="ERROR"/>
    </logger>

    <logger name="com.sitech">
        <level value="ERROR"/>
    </logger>

    <root>
        <level value="DEBUG"/>
        <appender-ref ref="CONSOLE"/>
        <appender-ref ref="R"/>
    </root>

</log4j:configuration>
